# Telethon patched version
# Replace with either link you prefer
https://github.com/New-dev0/Telethon-Patch/archive/main.zip

# Telethon alternative from TeamUltroid
# Uncomment below if using the Ultroid version
# https://github.com/TeamUltroid/Telethon/archive/ultroid.zip

# Environment management libraries
python-decouple==3.7
python-dotenv==1.0.0
